{% extends 'passreset/pass-content.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="card center">
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <h3>Reset Password</h3>

                {{ form|crispy }}


                <div>
                    <button type="submit" style="margin-bottom: 10px" class="btn btn-warning">Reset Password</button>
                </div>
            </form>
        </div>
    </div>


{% endblock content %}