{% extends 'base.html' %}
{% load static %}


{% block title %}StateMachines{% endblock %}
{% block script %}
    <script src="{% static 'konva/konva.min.js' %}"></script>
{% endblock %}

{% block style %}
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #f0f0f0;
        }
    </style>


{% endblock %}

{% block content %}

    <style>
        .toolbar-container {
            -webkit-box-pack: center;
            bottom: 70px;
            justify-content: center;
            display: flex;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: fit-content;
        }

        .toolbar {
            -webkit-box-pack: center;
            -webkit-box-align: center;
            background: floralwhite;
            align-items: center;
            border-radius: 32px;
            display: flex;
            font-family: Open sans, sans-serif;
            font-size: 12px;
            height: 40px;
            justify-content: center;
            padding: 0 5px;
            width: auto;
        }

        .toolbar .button-group {
            -webkit-box-align: center;
            align-items: center;
            -webkit-column-gap: 5px;
            column-gap: 5px;
            display: flex;
            height: 20px;
            padding: 0 5px;
        }

        .toolbar .button-group:not(:last-child) {
            border-right: 1px solid #000000;
            margin-left: 5px;
        }

        .toolbar .btn-outline-warning {
            margin-left: 0px;
            margin-top: 3px;
            margin-bottom: 3px;
            padding-right: 5px;
            padding-left: 7px;
            --bs-btn-border-color: #0000;
        }

        .toolbar .btn-outline-warning .active {
            color: var(--bs-btn-active-color);
            background-color: var(--bs-btn-active-bg);
            border-color: var(--bs-btn-active-border-color);
        }

        .resizer {
            -webkit-box-pack: start;
            -webkit-box-align: center;
            align-items: center;
            background-color: #20262e;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            box-shadow: -1px 0 10px 0 rgba(0, 0, 0, .1);
            cursor: pointer;
            display: flex;
            height: 25px;
            justify-content: flex-start;
            padding-right: 2px;
            position: relative;
            top: 5px;
            left: -10px;
            width: 11px;
            z-index: 1;
        }

        .settings > .settings-card {
            position: absolute;
            top: 0px;
            height: 100%;
            width: inherit;
        }

        .nav-tabs > li > a:hover {
            color: #ffc107;
        }

        .card-header-tabs .nav-link.active {
            color: #ffc107;
        }

        .card-header-tabs .nav-link {
            color: whitesmoke;
        }

        .settings {
            width: 100%;
        }

        textarea {
            width: 100%;
            resize: none;
            height: 100%;
        }

        .input_hr {
            visibility: hidden;
        }

        .console {
            height: 100%;
        }

        .sim-canvas {
            height: 160px;
            width: 100%;
        }

        .simulator-actions {
            position: relative;
            display: flex;
            justify-content: center;
            align-content: center;
            background-color: #343A40;
            padding-top: 7px;
            padding-bottom: 7px;
            border-radius: 7px;
        }

        .copybtn:hover > svg > path {
            stroke: #000000;
        }

        .text-console-container {
            height: 87%;
        }

        .text-console {
            border-radius: 3px;
            border: 1px solid grey;
            outline: none;
            height: 100%;
        }

        .text-console:hover {
            cursor: pointer;
        }

    </style>
    <div class="main" style="display:flex; position:absolute; overflow: hidden; flex:1; width: 100%; height:100%">
        <input id="load_file" hidden value="{{ request.session.load_file }}"/>
        <input id="login_failed" hidden value="{{ request.session.login_failed }}"/>
        <input id="register_failed" hidden value="{{ request.session.register_failed }}"/>
        <div class="canvas-container" style="position:relative; overflow: hidden; width: 100%; height: 100%; flex: 1">
            <div id="container" class="canvas"></div>
            <div class="toolbar-container flex">
                <div class="toolbar">
                    <div class="button-group">
                        <button class="btn btn-outline-warning" id="zoom-out" title="Zoom Out">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 26 26"
                                 fill="none"
                                 class="icon">
                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M2 12C2 11.4477 2.44772 11 3 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H3C2.44772 13 2 12.5523 2 12Z"
                                      fill="black"></path>
                            </svg>
                        </button>
                        <span class="zoom-value" id="zoom-value">100%</span>
                        <button class="btn btn-outline-warning" id="zoom-in" title="Zoom In">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 26 26"
                                 fill="none" class="icon">
                                <path xmlns="http://www.w3.org/2000/svg" d="M4 12H20M12 4V20" stroke="#000000"
                                      stroke-width="2"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="button-group" id="tool-group">
                        <button class="btn btn-outline-warning" id="new-state" title="Create New States">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 26 26"
                                 fill="none" class="icon">
                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M8 12H16M12 8V16M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                                      stroke="#000000" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </button>
                        <button class="btn btn-outline-warning" id="new-transition" title="Create New Transitions">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 26 26"
                                 fill="none" class="icon">

                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M13 3H12C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21H13M17 8L21 12M21 12L17 16M21 12H9"
                                      stroke="#000000" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>

                            </svg>
                        </button>
                        <button class="btn btn-outline-warning" id="select-button" title="Select Tool">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 26 26"
                                 fill="none" class="icon">

                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M6.91304 19.4348L3 3L19.4348 6.91304L14.7391 10.0435L21 16.3043L16.3043 21L10.0435 14.7391L6.91304 19.4348Z"
                                      stroke="#000000" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>


                            </svg>
                        </button>
                        <button class="btn btn-outline-warning active" id="move-button" title="Move Tool">
                            <svg height="26px" viewBox="0 0 26 26" width="26px" xmlns="http://www.w3.org/2000/svg"
                                 class="icon">

                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M12 3V9M12 3L9 6M12 3L15 6M12 15V21M12 21L15 18M12 21L9 18M3 12H9M3 12L6 15M3 12L6 9M15 12H21M21 12L18 9M21 12L18 15"
                                      stroke="#000000" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>

                            </svg>
                        </button>
                    </div>
                    <div class="button-group">
                        <button class="btn btn-outline-warning" id="undo-button" title="Undo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 -1 26 26"
                                 fill="none" class="icon">

                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M4 7H15C16.8692 7 17.8039 7 18.5 7.40193C18.9561 7.66523 19.3348 8.04394 19.5981 8.49999C20 9.19615 20 10.1308 20 12C20 13.8692 20 14.8038 19.5981 15.5C19.3348 15.9561 18.9561 16.3348 18.5 16.5981C17.8039 17 16.8692 17 15 17H8.00001M4 7L7 4M4 7L7 10"
                                      stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"></path>

                            </svg>
                        </button>
                        <button class="btn btn-outline-warning" id="redo-button" title="Redo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 -1 26 26"
                                 fill="none" class="icon">
                                <path xmlns="http://www.w3.org/2000/svg"
                                      d="M20 7H9.00001C7.13077 7 6.19615 7 5.5 7.40193C5.04395 7.66523 4.66524 8.04394 4.40193 8.49999C4 9.19615 4 10.1308 4 12C4 13.8692 4 14.8038 4.40192 15.5C4.66523 15.9561 5.04394 16.3348 5.5 16.5981C6.19615 17 7.13077 17 9 17H16M20 7L17 4M20 7L17 10"
                                      stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="settings text-bg-dark" id="settings_div"
             style="float: right; width: 6px; display: inline-grid">
            <div class="resizer" id="resizer" title="Open Settings and Simulator">
                <svg class="close-icon svg-inline--fa fa-angle-left fa-w-8" id="resizer_svg" data-icon="angle-left"
                     role="img" width="32px" height="64px" viewBox="5 4 10 20" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                       stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M14.2893 5.70708C13.8988 5.31655 13.2657 5.31655 12.8751 5.70708L7.98768 10.5993C7.20729 11.3805 7.2076 12.6463 7.98837 13.427L12.8787 18.3174C13.2693 18.7079 13.9024 18.7079 14.293 18.3174C14.6835 17.9269 14.6835 17.2937 14.293 16.9032L10.1073 12.7175C9.71678 12.327 9.71678 11.6939 10.1073 11.3033L14.2893 7.12129C14.6799 6.73077 14.6799 6.0976 14.2893 5.70708Z"
                              fill="#ffc107 "></path>
                    </g>
                </svg>
            </div>

            <div class="card settings-card mb-3" data-bs-theme="dark">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs nav-fill" id="sidebar-list" role="tablist"
                        onclick="deselect();">
                        <li class="nav-item border-warning">
                            <a class="nav-link active" href="#settings" role="tab"
                               aria-controls="#settings" aria-selected="false">Settings</a>
                        </li>
                        <li class="nav-item border-warning">
                            <a class="nav-link" href="#simulator" role="tab" aria-controls="#simulator"
                               aria-selected="false">Simulator</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content mt-3" style="height: 100%">

                        <div class="tab-pane active" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                            <div class="container">
                                <input type="radio" class="btn-check" name="machine-radio" onchange="regenerate_self()"
                                       id="mealy-machine"
                                       autocomplete="off">
                                <label class="btn btn-outline-warning settings" title="Switch To Mealy Machines"
                                       for="mealy-machine">Mealy
                                    Machine</label><br>
                                <hr>
                                <input type="radio" class="btn-check" name="machine-radio" onchange="regenerate_self()"
                                       id="moore-machine"
                                       autocomplete="off">
                                <label class="btn btn-outline-warning settings" title="Switch To Moore Machines"
                                       for="moore-machine">Moore
                                    Machine</label><br>
                                <hr/>
                                <input type="radio" class="btn-check" name="machine-radio" onchange="regenerate_self()"
                                       id="default-machine" autocomplete="off" checked>
                                <label class="btn btn-outline-warning settings"
                                       title="Switch To Discrete Finite Automata" for="default-machine">Standard
                                    Machine</label><br>
                            </div>
                            <hr/>
                            <div class="container">


                            </div>
                        </div>

                        <div class="tab-pane" id="simulator" role="tabpanel" aria-labelledby="simulator-tab"
                             style="height: 33%">
                            <hr class="input_hr"/>
                            <div class="container">
                                <div class="input-group" title="Use comma separated values: e.g., 1,0,...,0 as inputs">
                                    <span class="input-group-text" style="width: 28%">Input</span>
                                    <input class="form-control" value="1,0" id="sim-inputs" type="text">
                                </div>
                                <hr class="input_hr"/>
                                <div class="input-group">
                                    <span class="input-group-text" style="width: 28%">Output</span>
                                    <input class="form-control" id="sim-output" type="text" value="" disabled>

                                    <button type="button" class="btn btn-outline-warning copybtn" id="copybtn"
                                            title="Copy Output"
                                            onclick="copy_button();">
                                        <svg width="25px" height="25px" viewBox="0 -0.5 25 25" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M17.676 14.248C17.676 15.8651 16.3651 17.176 14.748 17.176H7.428C5.81091 17.176 4.5 15.8651 4.5 14.248V6.928C4.5 5.31091 5.81091 4 7.428 4H14.748C16.3651 4 17.676 5.31091 17.676 6.928V14.248Z"
                                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                                  stroke-linejoin="round"></path>
                                            <path d="M10.252 20H17.572C19.1891 20 20.5 18.689 20.5 17.072V9.75195"
                                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                                  stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                </div>
                                <hr class="input_hr"/>
                                <div class="container simulator-actions" style="width: 100%">
                                    <button class="btn btn-warning sim-step" type="button" title="Step Through Inputs"
                                            style="width:33%; margin-left: 0">Step
                                        <svg width="22px" height="22px" viewBox="-2 1 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  transform="scale(-1, 1) translate(-22, 0)"
                                                  d="M18.3956 19.7691C19.0541 20.2687 20 19.799 20 18.9724L20 5.02764C20 4.20106 19.0541 3.73137 18.3956 4.23095L9.20476 11.2033C8.67727 11.6035 8.67727 12.3965 9.20476 12.7967L18.3956 19.7691ZM22 18.9724C22 21.4521 19.1624 22.8612 17.1868 21.3625L7.99598 14.3901C6.41353 13.1896 6.41353 10.8104 7.99599 9.60994L17.1868 2.63757C19.1624 1.13885 22 2.5479 22 5.02764L22 18.9724Z"
                                                  fill="#0F0F0F"></path>
                                            <path transform="scale(-1, 1) translate(-22, 0)"
                                                  d="M2 3C2 2.44772 2.44772 2 3 2C3.55228 2 4 2.44772 4 3V21C4 21.5523 3.55228 22 3 22C2.44772 22 2 21.5523 2 21V3Z"
                                                  fill="#0F0F0F"></path>
                                        </svg>
                                    </button>
                                    <button class="btn btn-warning sim-submit" type="button" style="width:33%"
                                            title="Simulate All Inputs"> Run
                                        <svg width="22px" height="22px" viewBox="0 1 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M5.46484 3.92349C4.79896 3.5739 4 4.05683 4 4.80888V19.1911C4 19.9432 4.79896 20.4261 5.46483 20.0765L19.1622 12.8854C19.8758 12.5108 19.8758 11.4892 19.1622 11.1146L5.46484 3.92349ZM2 4.80888C2 2.55271 4.3969 1.10395 6.39451 2.15269L20.0919 9.34382C22.2326 10.4677 22.2325 13.5324 20.0919 14.6562L6.3945 21.8473C4.39689 22.8961 2 21.4473 2 19.1911V4.80888Z"
                                                  fill="#0F0F0F"></path>
                                        </svg>
                                    </button>
                                    <button class="btn btn-warning sim-reset" type="button" title="Reset Machine">
                                        <svg width="22px" height="22px" viewBox="0 1 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.52186 7H7C7.55229 7 8 7.44771 8 8C8 8.55228 7.55228 9 7 9H3C1.89543 9 1 8.10457 1 7V3C1 2.44771 1.44772 2 2 2C2.55228 2 3 2.44771 3 3V5.67541C4.1421 4.05017 5.70859 2.75709 7.53982 1.94481C9.78743 0.947842 12.3043 0.732653 14.6885 1.3336C17.0727 1.93454 19.1868 3.31697 20.6934 5.26017C21.9949 6.939 22.7781 8.95275 22.9594 11.0552C23.0068 11.6054 22.5477 12.0518 21.9954 12.0491C21.4432 12.0464 20.999 11.5951 20.9404 11.0459C20.764 9.39335 20.132 7.81481 19.1057 6.49104C17.8743 4.90272 16.1463 3.77276 14.1975 3.28156C12.2487 2.79036 10.1915 2.96625 8.35437 3.78115C6.82323 4.46031 5.51853 5.55071 4.57994 6.92229C4.56157 6.94914 4.54218 6.97505 4.52186 7Z"
                                                  fill="#0F0F0F"></path>
                                            <path d="M21 18.3246C19.8579 19.9498 18.2914 21.2429 16.4602 22.0552C14.2126 23.0522 11.6957 23.2673 9.31152 22.6664C6.9273 22.0654 4.81316 20.683 3.30663 18.7398C2.00506 17.061 1.22186 15.0472 1.04064 12.9448C0.993209 12.3946 1.45229 11.9482 2.00456 11.9509C2.55684 11.9536 3.00103 12.4049 3.05963 12.954C3.23597 14.6066 3.86797 16.1852 4.89426 17.509C6.12566 19.0973 7.85371 20.2272 9.80251 20.7184C11.7513 21.2096 13.8085 21.0337 15.6456 20.2188C17.1768 19.5397 18.4815 18.4493 19.4201 17.0777C19.4384 17.0509 19.4578 17.0249 19.4781 17H17C16.4477 17 16 16.5523 16 16C16 15.4477 16.4477 15 17 15H21C22.1046 15 23 15.8954 23 17V21C23 21.5523 22.5523 22 22 22C21.4477 22 21 21.5523 21 21V18.3246Z"
                                                  fill="#0F0F0F"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <hr/>
                            <div class="sim-canvas" id="sim-container" style="overflow: hidden"></div>
                            <hr/>
                            <div class="container console">
                                <h4 class="fs-4">Console</h4>
                                <div class="text-console-container">
                                    <textarea readonly class="text-console" title="Click to copy console output!" id="console"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <script src="{% static 'canvas.js' %}"></script>
{% endblock %}
